spring:
  application:
    name: {{ .Name }}

server:
  port: ${MCP_MESH_HTTP_PORT:{{ .Port }}}

mesh:
  registry:
    url: ${MCP_MESH_REGISTRY_URL:http://localhost:8000}
  agent:
    name: ${MCP_MESH_AGENT_NAME:{{ .Name }}}
    namespace: ${MCP_MESH_NAMESPACE:default}

logging:
  level:
    io.mcpmesh: INFO
    {{ .JavaPackage }}: DEBUG
